.hello {
	color:  blue;
    padding-top: 120px;
    text-align: center;
    font-size: 25px;

}

/* .bg-cover {
    background-size: cover !important;
    background-image: url('images/judge.jpg');
    height: 100%;
 } */
